#projetos {
  padding: 0 5rem;
  padding-top: 6.875rem;
  padding-bottom: 6.875rem !important;
  background-color: var(--bg);
}
#projetos h1 {
  text-align: center;
  color: lightgrey;
}
#projetos .cards {
  display: flex;
  margin-top: 1.5rem;
  gap: 1.5rem;
}
#projetos .cards .card {
  background-color: var(--dark-bg);
  width: 26.25rem;
  height: 26.25rem;
  padding: 0.75rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  text-align: center;
  transition: 0.9s;
  /* Estilos na imagem para deixar ela adaptável */
}
#projetos .cards .card:hover {
  background-color: var(--bg);
  box-shadow: 0 0.625rem 1.5625rem rgba(0, 0, 0, 0.8);
}
#projetos .cards .card h2 {
  margin-top: 1rem;
}
#projetos .cards .card p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: justify;
  filter: brightness(0.7);
}
#projetos .cards .card a {
  text-decoration: none;
  color: var(--normal-blue);
  transition: filter 0.6s;
}
#projetos .cards .card a:hover {
  filter: brightness(0.8);
  text-decoration: underline;
}
#projetos .cards .card img {
  max-width: 100%;
  height: auto;
  border-bottom: 1px solid gray;
  padding-bottom: 0.75rem;
}
#projetos .cards .card-5 img {
  width: 24.625rem;
  height: 11.875rem !important;
}
#projetos .cards .card-6 img {
  width: 24.625rem;
  height: 11.875rem !important;
}
#projetos .more-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  text-align: center;
}
#projetos .more-projects a {
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  border: 1px solid var(--bg);
  text-decoration: none;
  background: var(--dark-bg);
  color: var(--normal-blue);
  transition: 0.8s;
}
#projetos .more-projects a:hover {
  background: var(--bg);
  border: 1px solid var(--dark-bg);
}

/* Formation section */
#formacao {
  padding: 0 5rem;
  padding-top: 6.875rem;
  padding-bottom: 6.875rem;
  background-color: var(--dark-bg);
}
#formacao div h1 {
  text-align: center;
}
#formacao .first-row {
  margin-top: 12.5%;
  display: flex;
  justify-content: space-between;
}
#formacao .first-row div i {
  color: whitesmoke;
  font-size: 5rem;
  margin-left: 1.5rem;
}
#formacao .first-row h2 {
  border-bottom: 1px solid var(--line);
  padding-bottom: 0.2rem;
}
#formacao .first-row h3, #formacao .first-row h4 {
  font-weight: 500;
  color: grey;
  padding-top: 0.3rem;
}
#formacao .second-row {
  margin-top: 12.5%;
  display: flex;
  justify-content: space-between;
}
#formacao .second-row div i {
  color: whitesmoke;
  font-size: 5rem;
  margin-right: 1.5rem;
}
#formacao .second-row .second-row-school {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#formacao .second-row h2 {
  border-bottom: 1px solid var(--line);
  padding-bottom: 0.2rem;
}
#formacao .second-row h3, #formacao .second-row h4 {
  font-weight: 500;
  color: grey;
  padding-top: 0.3rem;
}
